﻿@page
@model VueTemplate.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.message</h3>
<div id="app">
    {{ vueMessage }}
</div>
<p>Use this area to provide additional information.</p>

<script src="~/scripts/bundle/about/index.js"></script>