﻿@page
@model VueTemplate.Pages.IndexModel
@{
    ViewBag.Title = "Home Page";
}

<div id="app">
    <h3>@ViewBag.Message</h3>
    {{ vueMessage }}
</div>
@Html.Raw("Hello")

<script src="~/scripts/bundle/home/index.js"></script>